# je refais la semaine 3-1-2 interrogation

In [1]:
import ibm_db

## Tâche 2 : Identifier les informations d’identification de connexion à la base de données

In [2]:
dsn_hostname = "2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud"

dsn_uid = "zyj48746"

dsn_pwd = "n97cCLsRaGSqeB1C"

dsn_driver = "{IBM DB2 ODBC DRIVER}"

dsn_database = "bludb" 

dsn_port = "30756"

dsn_protocol = "TCPIP" 

dsn_security = "SSL"

## Tâche 3 : Créer la connexion à la base de données

Ibm_db’API utilise le pilote IBM Data Server pour les API ODBC et CLI pour se connecter à IBM DB2 et Informix.

Créer la connexion à la base de données

In [3]:
#Create database connection
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  bludb as user:  zyj48746 on host:  2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud

## Task 4: Create a table in the database

In this step we will create a table in the database with following details:

<img src="https://ibm.box.com/shared/static/ztd2cn4xkdoj5erlk4hhng39kbp63s1h.jpg" align="center">

In [4]:
#Lets first drop the table INSTRUCTOR in case it exists from a previous attempt
# supprimez d’abord la table INSTRUCTOR au cas où elle existerait à partir d’une tentative précédente

dropQuery = "drop table INSTRUCTOR"

#Now execute the drop statment


dropStmt = ibm_db.exec_immediate(conn, dropQuery)

cette table est déjà présente dans la base de donnée, c'est pourquoi il y'a pas eu un message d'erreur.

## Ne vous inquiétez pas si vous obtenez cette erreur :

Si vous voyez une exception/erreur similaire à la suivante, indiquant que INSTRUCTOR est un nom indéfini, ce n’est pas grave. Cela implique simplement que la table INSTRUCTOR n’existe pas dans la table - ce qui serait le cas si vous ne l’aviez pas créée auparavant.

Exception: [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  "ABC12345.INSTRUCTOR" is an undefined name.  SQLSTATE=42704 SQLCODE=-204

In [5]:
#Construct the Create Table DDL statement - replace the ... with rest of the statement
#Construct l’instruction Create Table DDL - remplacez le ... avec le reste de l’instruction
createQuery = "create table INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2))"

#Now fill in the name of the method and execute the statement
#Now renseignez le nom de la méthode et exécutez l’instruction

createStmt = ibm_db.replace_with_name_of_execution_method(conn, createQuery)

AttributeError: module 'ibm_db' has no attribute 'replace_with_name_of_execution_method'

In [6]:
#Construct the Create Table DDL statement - replace the ... with rest of the statement
#Construct l’instruction Create Table DDL - remplacez le ... avec le reste de l’instruction
createQuery = "create table INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2))"

#Now fill in the name of the method and execute the statement
#Now renseignez le nom de la méthode et exécutez l’instruction

createStmt = ibm_db.exec_immediate(conn,createQuery)

## Tâche 5 : Insérer des données dans le tableau

Dans cette étape, nous allons insérer quelques lignes de données dans le tableau. 

La table INSTRUCTOR que nous avons créée à l’étape précédente contient 3 lignes de données :

<img src="https://ibm.box.com/shared/static/j5yjassxefrjknivfpekj7698dqe4d8i.jpg" align="center">


Nous commencerons par insérer uniquement la première ligne de données, c’est-à-dire pour l’instructeur Rav Ahuja

In [7]:
#Construct the query - replace ... with the insert statement
insertQuery = " insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')"

#execute the insert statement
insertStmt = ibm_db.exec_immediate(conn, insertQuery)

In [8]:
#replace ... with the insert statement that inerts the remaining two rows of data
insertQuery2 = "insert into INSTRUCTOR values (2, 'Raul', 'Chong', 'Markham', 'CA'),  (3, 'Hima', 'Vasudevan', 'Chicago', 'US')"

#execute the statement
insertStmt2 = ibm_db.exec_immediate(conn, insertQuery2)

## Tâche 6 : Interroger les données dans la table

Dans cette étape, nous allons récupérer les données que nous avons insérées dans la table INSTRUCTOR.

In [9]:
#Construct the query that retrieves all rows from the INSTRUCTOR table
selectQuery = "select * from INSTRUCTOR"

#Execute the statement
selectStmt = ibm_db.exec_immediate(conn, selectQuery)

#Fetch the Dictionary (for the first row only) - replace ... with your code
#Fetch le dictionnaire (pour la première ligne uniquement) - remplacez ... avec votre code
ibm_db.fetch_both(selectStmt)

{'ID': 1,
 0: 1,
 'FNAME': 'Rav',
 1: 'Rav',
 'LNAME': 'Ahuja',
 2: 'Ahuja',
 'CITY': 'TORONTO',
 3: 'TORONTO',
 'CCODE': 'CA',
 4: 'CA'}

In [10]:
#Fetch the rest of the rows and print the ID and FNAME for those rows
#Fetch le reste des lignes et imprimez l’ID et le FNAME de ces lignes

while ibm_db.fetch_row(selectStmt) != False:
   print (" ID:",  ibm_db.result(selectStmt, 0), " FNAME:",  ibm_db.result(selectStmt, "FNAME"))

 ID: 2  FNAME: Raul
 ID: 3  FNAME: Hima

Bonus : écrivez et exécutez maintenant une déclaration de mise à jour qui change la VILLE du Rav en MOOSETOWN

In [11]:
#Enter your code below
updateQuery = "update INSTRUCTOR set CITY='MOOSETOWN' where FNAME='Rav'"
updateStmt = ibm_db.exec_immediate(conn, updateQuery)

## Task 7: Retrieve data into Pandas 

In this step we will retrieve the contents of the INSTRUCTOR table into a Pandas dataframe

In [13]:
import pandas
import ibm_db_dbi

In [14]:
#connection for pandas
pconn = ibm_db_dbi.Connection(conn)

In [16]:
#query statement to retrieve all rows in INSTRUCTOR table
selectQuery = "select * from INSTRUCTOR"

#retrieve the query results into a pandas dataframe
pdf = pandas.read_sql(selectQuery, pconn)

#print just the LNAME for first row in the pandas data frame
pdf.LNAME[0]

C:\Users\Lenovo\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

'Ahuja'

In [17]:
#print the entire data frame
pdf

   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  MOOSETOWN    CA
1   2  Raul      Chong    Markham    CA
2   3  Hima  Vasudevan    Chicago    US

Une fois que les données sont dans un dataframe Pandas, vous pouvez effectuer les opérations typiques de pandas sur celui-ci. 

Par exemple, vous pouvez utiliser la méthode shape pour voir combien de lignes et de colonnes se trouvent dans le dataframe.

In [18]:
pdf.shape

(3, 5)

## Task 8: Close the Connection
We free all resources by closing the connection. Remember that it is always important to close connections so that we can avoid unused connections taking up resources.

In [19]:
ibm_db.close(conn)

True

## Summary

In this tutorial you established a connection to a database instance of DB2 Warehouse on Cloud from a Python notebook using ibm_db API. Then created a table and insert a few rows of data into it. Then queried the data. You also retrieved the data into a pandas dataframe.


Dans ce didacticiel, vous avez établi une connexion à une instance de base de données de DB2 Warehouse on Cloud à partir d’un notebook Python à l’aide de ibm_db API. Ensuite, vous avez créé une table et insérez-y quelques lignes de données. Ensuite, interrogez les données. Vous avez également récupéré les données dans une trame de données pandas.